/* General App Styles */
.App {
  text-align: center;
  font-family: 'Open Sans', sans-serif; /* Added a more modern font */
}

.App-logo {
  height: 30vmin; /* Reduced size for a cleaner look */
  pointer-events: none;
}
a{
  text-decoration: none;
}
/* Animation only for devices with no preference for reduced motion */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 15s linear; /* Faster rotation for a more dynamic feel */
  }
}

.App-header {
  background-color: #1e1f23; /* Slightly darker background for a more elegant look */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* Added padding for better spacing */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added subtle shadow for depth */
}
Link{
  text-decoration: none; 
}
.App-link {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease; /* Smooth transition for hover effect */
}

.App-link:hover {
  color: #21a1f1; /* Slightly darker color on hover for better UX */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive Styles */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin); /* Adjust font size on smaller screens */
  }

  .App-logo {
    height: 40vmin; /* Slightly larger logo on smaller screens */
  }
}
